body {
  margin: 0;
  padding: 0;
  background-image: url('robot.jpg');
  background-size: cover;
  font-family: sans-serif;
}

.wrapper {
  padding: 10% 40%;
}


h1 {
  float: left;
  border-bottom: 4px solid #4caf50;
  font-size: 40px;
  color: #fff;
  margin-bottom: 50px;
  padding: 13px 0;
}

.inputField {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding:8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #4caf50;
}
