body {
  margin: 0;
  padding: 0;
  background-image: url('robot.jpg');
  background-size: cover;
  font-family: sans-serif;
}

.wrapper {
  padding: 10% 40%;
}


h1 {
  float: left;
  border-bottom: 4px solid #4caf50;
  font-size: 40px;
  color: #fff;
  margin-bottom: 50px;
  padding: 13px 0;
}

i {
  color: white;
}

.inputField {
  width: 100%;
  overflow: hidden;
  padding:8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #4caf50;
}

input {
  border: none;
  outline: none;
  background: none;
  color: #fff;
  font-size: 18px;
  margin: 0 10px;

}

button {
  color:white;
  border: 2px solid #4caf50;
  width: 100%;
  padding: 5px;
  background: none;
  color: white;
  margin:12px 0;
  cursor: pointer;
}
